@tailwind base;

@tailwind components;

@tailwind utilities;


html {
    scroll-behavior: smooth;
  }

.nav-link {
text-decoration: none;
color: #2d3748 /* Default color */
}

.about-link:hover {
color: #f5d0fe; /* Color for About link on hover */
}

.events-link:hover {
color: #f5d0fe; /* Color for Events link on hover */
}

.dx-scheduler-appointment {
  background-color: yellow !important; /* Change to your desired color */
  color: black !important; /* Change text color if needed */
}


